
/* Add font files for Playfair Display */
@font-face {
  font-family: 'Playfair Display';
    src: local('Playfair Display'), local('PlayfairDisplay'),
         url('fonts/playfair-display.woff2') format('woff2'),
         url('fonts/playfair-display.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  :root {
    --font: "Playfair Display";
  }

  body {
    font-family: var(--font), serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 2;
    background-color: rgb(213, 234, 241) !important;
  }

   .text-normal li {
    font-size: 24px;
    color: #000000;
  }

  .text-normal {
    display: inline-flex;
    font-size: 24px;
    color: #000000;
    font-family: var(--font), serif;
    font-weight: bold;
    flex-wrap: wrap;
    flex-direction: row;
    width: 530px;
    height: auto;
    z-index: 2;
  }

  .text-Blanc p {
    font-size: 64px;
    color: #FFFFFF;
    font-weight: bold;
  }

  #Barra_superior{
    position: absolute;
    display: inline;
    top: 0px;
    width: 1920px;
    height: 200px;
    background-color: #3F59AF;
    z-index: 0;
  }
  

#Onada_top{
  position: absolute;
  top: 0px;
  width: 1920px;
  height: 200px;
  z-index: 1;
  visibility: hidden;
}

#Onada_bottom{
  width: 1700px;
  height: 200px;
  z-index: 1;
}
#img_foto{
  position: absolute;
  display: inline;
  top: 35px;
  left: 85px;
  width: 130px;
  height: 130px;
  z-index: 2;
}

#Nom_gran{
  position: absolute;
  top: 35px; 
  left: 235px;
  height: 130px;
  z-index: 2 !important;
}

.correu, .linkedin, .twitter {
  position: absolute;
  width: 200px ;
  right: 150px;
  z-index: 2;
  display: flex;
  align-items: center;
  height: auto;
}

.correu { 
  top: 35px; 
}

.linkedin { 
  top: 85px; 
}

.twitter {
   top: 125px; 
}

.correu img, .linkedin img, .twitter img {
  display: block;
}

.correu p, .linkedin p, .twitter p {
  margin: 0;
}




  